<h1>Edit Product Type</h1>

<%= form_for(@type, url: product_type_path, method: :patch) do |f| %>	<!-- edit for product_type model(@type) url: go to product_type controller with update action -->
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :value %>
	<%= f.number_field :value, class: 'form-control' %>

	<%= f.submit "Update", class: "btn btn-primary" %>
<% end %>