<h1>Product lisiting of a single type</h1>

<div class="container-full-bg">
	<%= image_tag("Graphic.jpg", alt: "Graphic Image", class: "slide-image img-responsive")%>
	<div class="container special">
  		<div class="jumbotron"></div>
	</div>
</div>
<% @products.each do |product| %>
	<li><%= link_to product.name, product_path(product) %></li>
	<li> <%= image_tag(product.image.url(:standard)) %> </li>
	<li><%= link_to 'Edit', edit_product_path(product, val: "true" ) %></li>
	<li><%= link_to 'Delete', product_path(product, val: "true" ) , method: :delete, data: {confirm: "Are u sure?"} %>
	</li>
<%end%>

<h4><%= link_to "Create New Products", new_product_path(value: @type.value)%></h4>