<% provide(:title,"#{@type.name}") %>

<div class="bg"><%= image_tag("System.jpg", alt: "Graphic Image", class: "slide-image img-responsive")%>
	<div class="jumbotron">
		<h1><%= @type.name %>S</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<% if logged_in? %>
			<h2><%= link_to "Create New Products", new_product_path(value: @type.value)%></h2>
		<% end %>
	</div>
</div>
<div class="container">
	<div class="row">
		<% @products.each do |product| %>
			<li><%= link_to product.name, product_path(product) %></li>
			<li> <%= image_tag(product.image.url(:standard)) %> </li>
			<% if logged_in? %>
				<li><%= link_to 'Edit', edit_product_path(product, val: "true" ) %></li>
				<li><%= link_to 'Delete', product_path(product, val: "true" ) , method: :delete, data: {confirm: "Are You sure?"} %></li>
			<% end %>
		<%end%>
	</div>
</div>
