<% provide(:title,"Home") %>
<div class="container-fluid">
	<div class="row">
		<div id="cf">
		  <%= image_tag("Ram.jpg", alt: "Graphiccard Image", class: "middle")%>
		  <%= image_tag("System.jpg", alt: "Graphiccard Image", class: "top")%>
		  <%= image_tag("Motherboard.jpg", alt: "Motherboard Image", class: "bottom")%>
		  <%= image_tag("Graphic.jpg", alt: "Graphiccard Image", class: "middle")%>
		</div>
		<div class="snippet">
			<div class="snippet-content">
				<p>
					This website was created as a means to help beginners to pick their parts to build their own gaming PC. Prices and parts are regularly updated depending on the current situation
				</p>
				<p>
					BuildMyPc aims to simplify things by providing a parts list to start you off, which can then be customised to your particular needs
				</p>
				<a href="#Link-to-last" class="btn btn-default btn-lg">Get Started</a>
			</div>
		</div>
	</div>
</div>
<div class="separator"></div>
<div class="container-fluid" id="home-container">
	<div class="row" id="Link-to-last">
		<div id="content-container">
			<div class="row">
				<div class="col-md-4" onClick="window.location='<%=products_path%>';">
					<h6>Products</h6>
				</div>
				<div class="col-md-6">
					<p>Get started by browsing thorugh the list of products we have to offer. Click on
					button</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" id="mid2">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commode.</p>
				</div>
				<div class="col-md-4" id="mid" >
					<h6>water is good for health</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" >
					<h6>water is good for health</h6>
				</div>
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commode.</p>
				</div>
			</div>			
		</div>
	</div>
</div>