<% provide(:title,"Users") %>

<%= will_paginate %>

<ul class="users">
	<h3>USERS LIST</h3>
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
    <% if logged_in? %>
		  <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  	<% end %>	
  <% end %>
</ul>

<%= will_paginate %>
