<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/title' %>
    <%= render 'layouts/rails_defaults'%>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <aside><%= products_sidebar %></aside>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
      <div class="container">
        <%= yield %>
      </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
